<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Networking"></activity>
        <activity android:name=".FragmentActivity" />
        <activity android:name=".SQLite" />
        <activity android:name=".Broadcast" />
        <activity android:name=".ListsActivity" />
        <activity android:name=".GridActivity" />
        <activity android:name=".MyDialogs" />
        <activity android:name=".SharedPref" />
        <activity android:name=".TryCatch" />
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LayoutActivity" />
        <activity android:name=".MainActivity" />

        <service android:name=".MyServices" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="com.example.myapplication.ABCD" />
            </intent-filter>
        </receiver>
    </application>

</manifest>